div.pager {
	text-align: center; padding-bottom: 3px; margin: 3px; padding-left: 3px; padding-right: 3px; padding-top: 3px
}
div.pager a {
	border-bottom: #9aafe5 1px solid; border-left: #9aafe5 1px solid; padding-bottom: 2px; padding-left: 5px; padding-right: 5px; color: #2e6ab1; border-top: #9aafe5 1px solid; margin-right: 2px; border-right: #9aafe5 1px solid; text-decoration: none; padding-top: 2px
}
div.pager a:hover {
	border-bottom: #2b66a5 1px solid; border-left: #2b66a5 1px solid; background-color: lightyellow; color: #000; border-top: #2b66a5 1px solid; border-right: #2b66a5 1px solid
}
div.pager a:active {
	border-bottom: #2b66a5 1px solid; border-left: #2b66a5 1px solid; background-color: lightyellow; color: #000; border-top: #2b66a5 1px solid; border-right: #2b66a5 1px solid
}
div.pager span.current {
	border-bottom: navy 1px solid; border-left: navy 1px solid; padding-bottom: 2px; background-color: #2e6ab1; padding-left: 5px; padding-right: 5px; color: #fff; border-top: navy 1px solid; font-weight: bold; margin-right: 2px; border-right: navy 1px solid; padding-top: 2px
}
div.pager span.disabled {
	border-bottom: #929292 1px solid; border-left: #929292 1px solid; padding-bottom: 2px; padding-left: 5px; padding-right: 5px; color: #929292; border-top: #929292 1px solid; margin-right: 2px; border-right: #929292 1px solid; padding-top: 2px
}
