div.pager {
	background-color: #3e3e3e; font-family: tahoma, arial, helvetica, sans-serif; color: #fff; font-size: 11px
}
div.pager a {
	padding-bottom: 2px; background-color: #3e3e3e; margin: 2px; padding-left: 5px; padding-right: 5px; color: #fff; text-decoration: none; padding-top: 2px
}
div.pager a:hover {
	background-color: #ec5210; color: #fff
}
div.pager a:active {
	background-color: #ec5210; color: #fff
}
div.pager span.current {
	padding-bottom: 2px; background-color: #313131; margin: 2px; padding-left: 5px; padding-right: 5px; color: #fff; font-weight: bold; padding-top: 2px
}
div.pager span.disabled {
	padding-bottom: 2px; background-color: #3e3e3e; margin: 2px; padding-left: 5px; padding-right: 5px; color: #868686; padding-top: 2px
}