div.pager {
	text-align: center; padding-bottom: 3px; margin: 3px; padding-left: 3px; padding-right: 3px; padding-top: 3px
}
div.pager a {
	border-bottom: #fff 1px solid; border-left: #fff 1px solid; padding-bottom: 2px; margin: 2px; padding-left: 5px; padding-right: 5px; color: #000099; border-top: #fff 1px solid; border-right: #fff 1px solid; text-decoration: underline; padding-top: 2px
}
div.pager a:hover {
	border-bottom: #000099 1px solid; border-left: #000099 1px solid; color: #000; border-top: #000099 1px solid; border-right: #000099 1px solid
}
div.pager a:active {
	border-bottom: #000099 1px solid; border-left: #000099 1px solid; color: #f00; border-top: #000099 1px solid; border-right: #000099 1px solid
}
div.pager span.current {
	border-bottom: #fff 1px solid; border-left: #fff 1px solid; padding-bottom: 2px; background-color: #fff; margin: 2px; padding-left: 5px; padding-right: 5px; color: #000; border-top: #fff 1px solid; font-weight: bold; border-right: #fff 1px solid; padding-top: 2px
}
div.pager span.disabled {
	border-bottom: #eee 1px solid; border-left: #eee 1px solid; padding-bottom: 2px; margin: 2px; padding-left: 5px; padding-right: 5px; color: #ddd; border-top: #eee 1px solid; border-right: #eee 1px solid; padding-top: 2px
}
